.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  display: block;
  margin: 10px;
  color: #61dafb;
  text-decoration: none;

}

a:hover{
  color: #fff;
}

.form{
  width: 50vw;
  margin: 0 auto;
}

.submit{
  display: block;
  width: 150px;
  height:40px;
  margin: 30px auto 50px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(48, 197, 255);
}

.submit:hover{
  background-color: rgb(40, 162, 189);
}
table, td, th {
  border: 1px solid black;
}
thead{
  background-color: #cacaca;;
}
td,th{
  height: 5vh;
  width: 10vw;
}
table{
  margin: 30px auto;
  border-collapse: collapse;
}